/* REGOLE GENERALI --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

/* REGOLE DELL'HEADER ----------------------------------- */
/* Regole generali delle barra di navigazione */
.navbar {
  width: 100vw;
  height: 70px;
  background-color: #000;
}
.navbox {
  display: flex;
  align-items: center;
  width: 90%;
  height: inherit;
  margin: 0 auto;
}
.navleft {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.navright {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

/* Regole specifiche del search form  */
.searchbar {
  border: solid 1px #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.navright i {
  color: #fff;
  font-size: 18px;
}
.navright input {
  width: 200px;
  height: 30px;
  color: #fff;
  border: none;
  background-color: #000;
  padding: 0 10px;
}
.navright input:focus {
  outline: none;
}


.film, .serietv {
  padding: 20px 0;
}

.vote {
  display: none
}

.film img:last-child, .serietv img:last-child {
  width: 20px;
}
