/* REGOLE GENERALI --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');

body {
  background-color: #141414;
}

/* REGOLE DELL'HEADER ----------------------------------- */
/* Regole generali delle barra di navigazione */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #000;
}
.navbox {
  display: flex;
  align-items: center;
  width: 90%;
  height: inherit;
  margin: 0 auto;
}
.navleft {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.navright {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
/* Regole specifiche del search form  */
.searchbar {
  border: solid 1px #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.navright i {
  color: #fff;
  font-size: 18px;
}
.navright input {
  width: 200px;
  height: 30px;
  color: #fff;
  border: none;
  background-color: #000;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.navright input:focus {
  outline: none;
}

/* REGOLE DEL MAIN ------------------------------------- */
.container {
  overflow: auto;
}
.mainbox {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: inherit;
  margin: 0 auto;
  padding-top: 50px;
}
.resultfilm, .resultserie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Regole specifiche delle card Film e Serie Tv  */
.film, .serietv {
  position: relative;
  margin: 20px 0;
}
.film .picture img, .serietv .picture img {
  width: 260px;
  height: 390px;
}
.flag {
  position: relative; 
}
.vote {
  display: none
}
.desck {
  display: none;
  width: 260px;
  height: 390px;
  background-color: #000;
  border: #fff solid 2px;
  padding: 10px;
  position: absolute;
  top: 0;
  overflow: auto;
}
.desck h3, .desck p, .desck span {
  color: #fff;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
}
.flag span img {
  width: 20px;
  position: absolute;
  top: 5px;
  right: 160px;
}
.flag span p {
  position: absolute;
  top: 0px;
  right: 168px;
}
.fas, .far {
  color: yellow;
}
.desck.active {
  display: block;
}
.bottone {
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-color: #ff0101;
  border: none;
  padding: 10px;
  margin-top: 15px;
}
.bottone:hover {
  font-weight: 800;
}
.bottone:focus {
  outline: #cc0000;
}
button .fas {
  color: #fff;
  margin-right: 5px;
}
/* Regole specifiche della Tabella  */
.table {
  display: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  position: fixed;
  top: 50%;
  width: 1000px;
  background-color: #000;
  z-index: 300;
  padding: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table.action {
  display: block;
}
.table p {
  padding-top: 20px;
}
.table .close i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}




